/* Add this to styles.css */
.topnav {
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    padding: 5px;
  }
  
  .topnav a {
    color: rgb(71, 104, 84);
    text-decoration: none;
    padding: 10px 15px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  

  body {
    background-color: darkseagreen;
        color: white;
        text-align: center;
        padding: 50px;
    }
 
 
  h1 {
    color: rgb(18, 94, 57);
    text-align: center;
    font-family: verdana;
    font-size: 50px;
  }

  h2 {
    text-align: center;
    font-family: verdana;
    font-size: 30px;
  }

  button{
    margin-top: 50px;
    font-size: 20px;
    color: white;
    background-color: rgb(138, 191, 159);
    border: 2px solid #ffffff;
    top: 50%;
    right: 100px;
    transform: translateY(90%);
    cursor: pointer;
   }

  p {
    text-align: left;
    margin-top: 80px;
    font-family: verdana;
    font-size: 25px;
    line-height: 1.5;
    letter-spacing: 1px;
  }
 
 header {
    background-color: #333;
    color: #fff;
    padding: 15px;
    text-align: center;
 }
 
 
 .home-item {
    font-weight: bold;
 }
 
 
 .menu-item {
    font-weight: bold;
 }
 
 
 .about-item {
    font-weight: bold;
 }
 
 
 .mission-item {
    font-weight: bold;
 }
 
 .order-item {
    font-weight: bold;
 }
 
 .img_mc{
   float: left;

 }

 .main{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   padding: 30px 20px;
   grid-column-gap: 0.5px;
   grid-row-gap: 50px;
   text-align: center;
 }

 .img_sc{
   float: left;

 }

 .position{
   position: right;
   text-align: center;
   transform: translateX(2%);
 }

 .soup{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 30px 20px;
  grid-column-gap: 0.5px;
  grid-row-gap: 50px;
}
 .side{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   padding: 30px 20px;
   grid-column-gap: 0.5px;
   grid-row-gap: 50px;
 }

 .drinks{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   padding: 30px 20px;
   grid-column-gap: 0.5px;
   grid-row-gap: 50px;
 }

 .dessert{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   padding: 30px 20px;
   grid-column-gap: 0.5px;
   grid-row-gap: 50px;
 }

 .nutrition{
  font-size: 18px;
  margin-top: 70px;
  display: flex;
  justify-content: space-around;
  gap: 2px;
  text-align: center;
 }

 .down{
  margin-top: 90px;
 }


 .img_mc{
  margin-left: 15px;
  float: left;
 }
 
 
 .order{
  display: contents;
  align-items: left;
  text-align: left;
  gap: 10px;
 }
 